<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured!</h1>
    <p>A solution architect has been notified!</p>

<%- include('includes/end.ejs') %>